.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin: 20% auto;
}

.home{
  text-align: center;
}

.error{
  text-align: center;
}

.loginButton{
  text-align: center;
  background-color: green;
  border: solid;
  border-color: black;
}

#editForm{
  margin-right: 20px;
}

.divEditForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20% 19% 50% 19%;
}

.headerCafe{
  display: flex;
  justify-content: center;
  margin: 0% 5% auto 5%;
}
#colorTextButtonNavigation{
  color: "success";
}

.dish-button {
  cursor: pointer;
}
.dish-button:hover {
  background-color: rgb(234, 234, 234);
}
